[project]
name = "cube_conversion"
dynamic = ["version"]

[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages]
find = {}

[project.scripts]
cube_convert = "cube_conversion.cube_convert:main"
